<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Atlas Version Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>

    <body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${apppackages}" class="container my-5">
                    <p class="my-5">
                        <a href="/apppackages/addpackage" class="btn btn-primary">
                            <i class="fab fa-jenkins"></i> Add Package </i></a>
                    </p>
                    <div class="col-md-12">
                        <h2 th:case="null">No Packages Yet !!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Package Name</th>
                                    <th>Version</th>
                                    <th>Increase</th>
                                    <th>Decrease</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="apppackage : ${apppackages}">
                                    <td th:text="${apppackage.packageName}"></td>
                                    <td th:text="${apppackage.version}"></td>
                                    <td>
                                        <a th:href="@{/apppackages/{packagename}/increaseversion(packagename=${apppackage.packageName})}" class="btn btn-success">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/apppackages/{packagename}/decreaseversion(packagename=${apppackage.packageName})}" class="btn btn-warning">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{/apppackages/{packagename}/delete(packagename=${apppackage.packageName})}" class="btn btn-danger">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

</html>